* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    background-color: darkkhaki;
}

.wrapper {
    width: 900px;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px #000;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
    flex-grow: 0;
}

.miniBox {
    border: 1px solid #000;
    text-align: center;
    margin: 5px;
    min-height: 100px;
    min-width: 385px;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 360px;
    padding: 20px 40px;
    font-family: 'Dancing Script', cursive;
    background-image: url("whisky-3450670_960_720.jpg");
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.35);
    z-index: -1;
}

h1 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 50px;
}

.search {
    padding: 10px 30px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.85);
}

.drink-list {
    padding: 20px 40px;
}

h2 {
    padding: 30px 0;
}

ul {
    padding-bottom: 30px;
    font-size: 23px;
    list-style: none;
}

li {
    padding: 8px 30px;
    border-bottom: 1px solid rgb(226,226,226);
}

li:last-child {
    border-bottom: 0;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    color: white;
    background-color: #00BA40;
    text-transform: uppercase;
}

.top p {
    margin-top: 10px;
}

.bottom {
    padding: 40px 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

input,
select {
    margin-bottom: 25px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(185,185,185);
}

.count {
    display: block;
    margin: 20px auto;
    padding: 20px 10px;
    width: 60%;
    font-size: 24px;
    border-radius: 8px;
    color: white;
    background-color: #00BA40;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.count:hover {
    background-color: rgb(0,168,59);
}

.cost-info {
    display: none;
    margin-top: 30px;
    font-size: 20px;
}

.cost {
    font-weight: bold;
}

.error {
    font-size: 18px;
    color: rgb(199,63,29);
    text-align: center;
}
